body {
  width: 100%;
  margin: 0%;
  padding-bottom: 30px;
}

.h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 10px 0;
  line-height: 45px;
  padding-left: 10px;
}
.two:hover {
  background-color: orange;
}
.one {
  position: relative;
}
.two {
  background-color: #ffc107;
  opacity: 0.7;
  width: 70%;
  padding-left: 10px;
  position: absolute;
  bottom: 60px;
}
.main {
  display: flex;
  padding: 40px 32px;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
}
.three {
  width: calc(50% - 16px);
  margin-top: 6px;
}
.top {
  border-top: 6px solid orange;
}
@media only screen and(max-width:1200px) {
  .main {
    flex-direction: column;
  }
  .three {
    width: 100%;
  }
}
@media only screen and(max-width:900px) {
  .main {
    flex-direction: column;
  }
  .three {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .two {
    display: none;
  }
  .three {
    width: 100%;
  }
}
